*~
riscv.test
xendor/tcc/libtcc.o
next_plan.md
bench.test
cpu.prof
mem.prof
prof_findings.md
*test
bench/libriscv_guest/bench_guest.native
bench/libriscv_guest/bench_guest.elf
#bench/coremark.elf
#bench/dhrystone.elf
xendor/tcc/libtcc.a
darwin-perf
hellobench
debug_vizjit_dir/
debug_libriscv_dir/
vizjit_debug_dir/
*.o
*.a
xendor/go1.26.4.linux-riscv64
cmd/emul/emul
xendor/linux/initramfs.cpio
xendor/linux/initramfs.cpio.gz
